canvas {
    align-self: center;
    text-align: center;
    margin: auto;
    display: block;
    border: 5px rgb(210, 105, 123);
    background-color: whitesmoke;
    grid-column: 2;
    border: 4px solid rgba(201, 130, 142, 0.224);

}

